# Configuration SSH générée par Ansible
# Ne pas modifier manuellement

Port {{ ssh_port }}
AddressFamily any
ListenAddress 0.0.0.0

# Authentication
PermitRootLogin {{ ssh_permit_root_login }}
PasswordAuthentication {{ ssh_password_authentication }}
PubkeyAuthentication {{ ssh_pubkey_authentication }}
MaxAuthTries {{ ssh_max_auth_tries }}
PermitEmptyPasswords no
ChallengeResponseAuthentication no

# Sessions
ClientAliveInterval {{ ssh_client_alive_interval }}
ClientAliveCountMax {{ ssh_client_alive_count_max }}
LoginGraceTime 60
MaxSessions 10
MaxStartups 10:30:100

# Sécurité
X11Forwarding no
AllowTcpForwarding no
AllowAgentForwarding no
PermitTunnel no
PrintMotd no
PrintLastLog yes
UsePAM yes
UseDNS no

# Logging
SyslogFacility AUTH
LogLevel INFO

# Subsystems
Subsystem sftp /usr/lib/openssh/sftp-server
